@import "tailwindcss";

.container {
    @apply max-w-[1170px] mx-auto
}
@theme {
    --font-inter: "Inter", sans-serif;
    --font-popins: "Poppins", sans-serif; 
}

.main_menu li a, .category a {
    @apply text-[16px] text-[#000] font-popins leading-6 font-normal relative
}
.main_menu li a::after {
    @apply absolute w-0 content-[''] h-px bg-[rgba(0,0,0,0.25)] left-0 bottom-[-5px] duration-500
}
.main_menu li a:hover::after {
    @apply w-full
}

@theme {
  --shadow-cart: 0 1px 13px rgba(0, 0, 0, 0.05); 
}

.payment input[type="radio"]:checked + label span {
    background-color: #000;
    box-shadow: 0px 0px 0px 4px white inset;
}
.color input[type="radio"]:checked + label  span{
    box-shadow: 0px 0px 0px 2px white inset;
    border: 2px solid #000;
}
.size input[type="radio"]:checked + label  span{
    background-color: #DB4444;
    border: 1px solid #DB4444;
    color: white;
}